* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* font-family: 'Alfa Slab One', cursive; */
  /* background-image: url('../images/Space\ background.jpg');
  object-fit: contain; */
}

header {
  text-align: center;
  margin-top: -20px;
  margin-bottom: 50px;
 }

main {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#button_div {
    margin: 2px;

}

button {
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  font-size: 15px;
  outline: none;
}

button:hover {
  background-color: lightblue;   
}

section {
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

#lives_score {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 3px;
  background-color: black;
  color: white;
}

.grid {
  display: flex;
  flex-direction: row;
  border: 1px solid green;
  width: 500px;
  height: 500px;
  flex-wrap: wrap;
  /* background-color: black; */
}

aside {
  text-align: center;
  display: inline;
  margin-left: 20px;
}

p {
  padding: 4px;
}

.rules {
  border: 1px solid green;
  width: 200px;
  height: 400px;
  font-size: 20px;
}

.cell {
  border: 1px solid green;
  font-size: 25px;
}

.laser {
  background-color: orange;
}

.bomb {
  background-color: purple;
}

.alien {
  background-color:blue;
  background-size: contain;
}

.gun {
  background-color: red;
  background-size: contain;
}

