* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url('../images/starry-night-sky.jpg');
  font-family: 'Alfa Slab One', cursive;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  text-align: center;
  margin-top: -20px;
  margin-bottom: 50px;
  color: white;
 }

main {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#button_div {
    margin: 2px;

}

button {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  font-size: 20px;
  outline: none;
  width: 300px;
}

button:hover {
  background-color: lightblue;   
}

section {
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

#lives_score {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 3px;
  background-color: black;
  color: white;
}

.grid {
  display: flex;
  flex-direction: row;
  border: 1px solid white;
  width: 600px;
  height: 600px;
  flex-wrap: wrap;
  background-color: black;
}

aside {
  text-align: center;
  display: inline;
  margin-left: 25px;
  color: white;
}
h3{
  padding-top: 5px;
  text-decoration: underline;
}

p {
  padding: 10px;
}

.rules {
  border: 1px solid white;
  width: 300px;
  height: 450px;
  font-size: 18px;
}

.cell {
  /* border: 1px solid white; */
  font-size: 25px;
}

.laser {
  background-image: url('../images/Laser.png');
  background-size: contain;
}

.bomb {
  background-image: url('../images/Bomb.png');
  background-size: contain;
}

.alien {
  background-image: url('../images/Alien.png');
  background-size: contain;
}

.gun {
  background-image: url('../images/Spaceship.png');
  background-size: contain;
}

